azure/synapse/syndavidacdev/pipeline/Extract year.json
{
	"name": "Extract year",
	"properties": {
		"activities": [
			{
				"name": "ForEach Year",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ArrayYear",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Extract Month",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set year",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Extract month",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Year": {
										"value": "@variables('Year')",
										"type": "Expression"
									},
									"ArrayMonth": {
										"value": "@pipeline().parameters.ArrayMonth",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set year",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Year",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ArrayYear": {
				"type": "array",
				"defaultValue": [
					"2020"
				]
			},
			"ArrayMonth": {
				"type": "array",
				"defaultValue": [
					"01",
					"02",
					"03",
					"04",
					"05",
					"06",
					"07",
					"08",
					"09",
					"10",
					"11",
					"12"
				]
			}
		},
		"variables": {
			"Year": {
				"type": "String",
				"defaultValue": "2021"
			}
		},
		"folder": {
			"name": "02"
		},
		"annotations": []
	}
}