azure/synapse/syndavidacdev/pipeline/Extract month.json
{
	"name": "Extract month",
	"properties": {
		"activities": [
			{
				"name": "ForEach Month",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ArrayMonth",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set relativeUrl",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "relativeUrl",
								"value": {
									"value": "@concat('trip+data/yellow_tripdata_', pipeline().parameters.Year, '-', item(), '.csv')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set directory",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set relativeUrl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "directory",
								"value": {
									"value": "@concat('raw/nyctlc/tripdata/', pipeline().parameters.Year, '/', item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set file",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set directory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "file",
								"value": {
									"value": "@concat('yellow_tripdata_', pipeline().parameters.Year, '-', item(), '.csv')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NYCTLC_HTTP_TO_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "http_nyctlc",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@variables('relativeUrl')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "syndavidacdev_data",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@variables('directory')",
											"type": "Expression"
										},
										"file": {
											"value": "@variables('file')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Year": {
				"type": "string",
				"defaultValue": "2020"
			},
			"ArrayMonth": {
				"type": "array",
				"defaultValue": [
					"01",
					"02",
					"03",
					"04",
					"05",
					"06",
					"07",
					"08",
					"09",
					"10",
					"11",
					"12"
				]
			}
		},
		"variables": {
			"relativeUrl": {
				"type": "String"
			},
			"directory": {
				"type": "String"
			},
			"file": {
				"type": "String"
			}
		},
		"folder": {
			"name": "03"
		},
		"annotations": []
	}
}